<div class="Login">
    <div class="Login__Container">
        <div>
            <div>
                <label>Usuario</label>
            </div>
            <div>
                <input class="col-12" type="text">
            </div>
        </div>
        <div>
            <div class="mt-4">
                <label>Contrasena</label>
            </div>
            <div>
                <input class="col-12" type="text">
            </div>
        </div>
        <div class="mt-4 d-flex justify-content-center">
            <button (click)="Sigin()">Ingresar</button>
        </div>
    </div>
</div>