@import "../../../../../node_modules/bootstrap/scss/bootstrap.scss";

.Login {
    @extend .vh-100;
    @extend .container-fluid;
    @extend .d-flex;
    @extend .flex-column;
    @extend .align-items-center;
    @extend .justify-content-center;

    &__Container{
        background: rgba(white, 0.25);
        width: 25rem;
        padding: 4rem 3rem;
        @extend .rounded-3;
    }
}