@import "./../../../../styles.scss";

.Login {
    @extend .d-flex, .align-items-center, .justify-content-center;
    background: #E7E4F2;
    height: 100vh;  
}

.Login .Login__Container {
    @extend .container, .rounded-3;
    width: 90%; 
    max-width: 60rem; 
}

.Login .Login__Container .Login__Container--Current{
    @extend .row, .d-flex, .justify-content-center, .align-items-center;
    height: 100%; 
}