@import "../../../../styles.scss";

#Layout {
  @extend .container-fluid;
  height: 100vh;
}

#Layout .Content {
  @extend .row;
  @extend .h-100;
}

#Layout .Content .Content__Side {
  width: 15%;
  @extend .d-none;
  @extend .d-md-block;
  background: #144759;
}


#Layout .Content .Content__Data {
  background: #E7E4F2;
  width: 85%;
}