<div id="Layout">
  <div class="Content">
    <div class="Content__Side">
      <div class="border-bottom mb-4 text-white text-center">
        <h3 class="my-4">Restaurant</h3>
      </div>
      <div>
        <app-layout-menu
          [ListItemMenu]="listItemMenu"
        >
        </app-layout-menu>
      </div>

    </div>
    <div class="Content__Data">
      <div class="row">
        <div class="col-12 px-0">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>